.chat-box {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.chat-input {
	position: absolute;
	bottom: 0;
	z-index: 10;
}
.paper {
	width: 80%;
	height: 80%;
	// max-width: 500px;
	// max-height: 700px;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative
}
// .paper2 {
// 	width: 80vw;
// 	max-width: 500px;
// 	display: flex;
// 	align-items: center;
// 	flex-direction: column;
// 	position: relative
// };
.chat-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center
}
.messages-body {
	width: calc( 100% - 20px ); 
	margin: 10px;
	overflow-y: scroll;
	height: calc( 100% - 80px )
}

// Message
.message-row {
	display: flex;
}
.message-row-right {
	display: flex;
	justify-content: flex-end;
}
.message-blue {
	position: relative;
	margin-left: 20px;
	padding: 10px;
	background-color: #A8DDFD;
	margin-bottom: 10px;
	width: 60%;
	min-width: 30%;
	//minHeight: 50px;
	text-align: left;
	font: 400 .9em 'Open Sans', 'sans-serif';
	border: 1px solid #97C6E3;
	border-radius: 10px;
	&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-top: 15px solid #A8DDFD;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			top: 0;
			left: -15px;
	}
	&:before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-top: 17px solid #97C6E3;
			border-left: 16px solid transparent;
			border-right: 16px solid transparent;
			top: -1px;
			left: -17px;
	}
}
.message-orange {
	position: relative;
	margin-right: 20px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f8e896;
	width: 60%;
	//height: 50px;
	text-align: left;
	font: 400 .9em 'Open Sans', sans-serif;
	border: 1px solid #dfd087;
	border-radius: 10px;
	&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-top: 15px solid #f8e896;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			top: 0;
			right: -15px;
	}
	&:before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-top: 17px solid #dfd087;
			border-left: 16px solid transparent;
			border-right: 16px solid transparent;
			top: -1px;
			right: -17px;
	}
}

.message-content {
	padding: 0;
	margin: 0;
}
.message-timestamp-right {
	position: absolute;
	font-size: .85em;
	font-weight: 300;
	margin-top: 10px;
	bottom: -3px;
	right: 5px;
}

.orange {
	color: rgb(255, 81, 0);
	background-color: orange;
	width: 100px;
	height: 100px;
}
.avatarNothing {
	color: transparent;
	background-color: transparent;
	width: 100px;
	height: 100px;
}
.displayName {
	margin-left: 20px;
}