.contactform-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contactform-title {
    margin-bottom: 3rem;
  }
  .form-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
