.contactform-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contactform-title {
    margin-bottom: 3rem;
  }
  .form-wrap {
    display: flex;

    .text-input {
      width: 24rem;
      margin: 1rem;
    }

    .name-input {
      margin-left: 1rem;
    }
    .email-input {
      margin-right: 1rem;
    }
  }
  .textarea {
    width: 50rem;
    margin-bottom: 2rem;
  }
}
