.filter-topmassage {
  text-align: center;
  margin-bottom: $xl-length;
  font-size: $m-size;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 0 $l-length;

  &--center {
    @extend .filter-wrapper;
    justify-content: center;
  }
  .filter1-container {
    width: 40%;
    margin-bottom: $xl-length;

    .filter1-discription {
      margin-top: $m-length;
    }
  }
}

.filter-bottommassage {
  @extend .filter-topmassage;
  font-size: $sm-size;
  width: 40%;
  margin: $m-length auto;
}

.genreSearch {
  font-size: $m-size;
  height: 1.5em;
  display: block;
  margin: 0 auto;
  text-align: center;
  // border: 1px solid $orange;
}

// 3rd filter
.filtered-profile {
  color: $black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  .profile-text {
    margin: 4px;
  }
  margin: 0 40px 80px;
}

// 4th filter
.name-bio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: $l-size;
}

.picture-bio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: $l-size;

  img {
    margin-left: 12%;
  }

  .bio-box {
    width: 50%;
    border: 1px solid $black;
    padding: $xxl-length $m-length;
    border-radius: 8px;

    .bio-sentence {
      text-align: center;
    }
  }
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.music-box {
  background: $greenBlue;
  margin: $xl-size auto;
  padding: $sm-size $ml-size;
  width: 80%;
  border-radius: 10px;
  text-align: center;

  .player-title { 
    margin: $sm-size;
  }
}
