.filter-topmassage {
  text-align: center;
  margin-bottom: $s-length;
  font-size: $m-size;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 0 $l-length;

  &--center {
    @extend .filter-wrapper;
    justify-content: center;
  }
  .filter1-container {
    width: 40%;
    margin-bottom: $xl-length;

    .filter1-discription {
      margin-top: $m-length;
    }
  }
}

.filter-bottommassage {
  @extend .filter-topmassage;
  font-size: $sm-size;
  width: 40%;
  margin: $m-length auto;
}

.genreSearch {
  font-size: $m-size;
  height: 1.5em;
  display: block;
  margin: 0 auto;
  text-align: center;
  // border: 1px solid $orange;
}

// 3rd filter
.color-example-container {
  display: flex;
  margin-bottom: $xl-length;
  .color-example-wrap {
    display: flex;
    margin-right: 20px;
  }
  .primary-color,
  .secondary-color {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    border-radius: 50%;
    align-self: center;
  }
  .primary-color {
    background: rgb(247, 235, 131);
  }
  .secondary-color {
    background: rgb(248, 180, 141);
  }
}
.filtered-profile {
  color: $black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  .profile-text {
    margin: 4px;
  }
  .genre-labels {
    margin-top: 5px;
    .label {
      margin: 5px;
      border: solid 1px gray;
      border-radius: 2px;
      padding: 2px;
    }
    // temporary colors
    .primary-genre-label {
      background: rgb(247, 235, 131);
    }
    .secondary-genre-label {
      background: rgb(248, 180, 141);
    }
  }
  margin: 0 40px 80px;
}
