.filter-input-wrappter {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.filter-form {
  display: flex;
  justify-content: space-around;
}

.filter-input {
  padding: 10px;
  width: 100%;
  margin-right: 10px;
}
