.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  &__terms-and-conditions {
    margin: 2rem;
  }

  &__contactus {
    margin: 2rem;
    border: solid 1px blue;
    border-radius: 3px;
    padding: 0.5rem;
  }

  &__link {
    margin: 0.5rem;
  }
}
