.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $xl-size $sm-size;
	position: relative;
	margin-bottom: $m-length;

	.logo-wrapper {
		margin-left: $xl-length;

		.header-logo {
			width: 110px;
		}
	}

	&__title {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: $blue;
		font-size: $l-size;
	}

	&__contact {
		color: white;
	}

	.header-rightside {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
	}
}

.logout {
	padding: 10px;
	cursor: pointer;

	span {
		font-size: 18px;
		color: $blue;
	}
}
