.msg-sent-modal-container {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .modal-title {
    margin: 1.7rem;
    font-size: 1.5rem;
  }

  .back-to-mainpage-btn {
    color: white;
  }
  .sent-modal-close-btn {
    margin: 0.7rem;
    text-decoration: underline;
    cursor: pointer;
  }
}
