.massages-container {
  width: 100%;
  height: 500px;
  border: 1px solid gray;

  .contacts-list {
    background-color: rgb(216, 216, 216);
    width: 100%;
    height: 100%;

    .contacts-header {
      text-align: center;
      background: rgb(216, 216, 216);
      padding: 16px 0;
      border-bottom: 1px solid gray;
    }

    .contact-box {
      height: 100px;
      width: 100%;
      border-bottom: 1px solid gray;
      padding: 0 16px;

      .contact-container {
        height: 100%;
        cursor: pointer;

        .contact-photo-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px;

          .contact-photo {
            width: 100%;
            border-radius: 9999px;
          }  
        }
  
        .contact-name-message {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 8px;
        }  
      }
    }
  }
  .chat-box {
    background-color: white;
    width: 100%;
    height: 100%;

    .chat-box-header {
      width: 100%;
      text-align: center;
      background: white;
      padding: 16px 0;
      border-bottom: 1px solid gray;
    }

    .chat-box-chats {
      width: 100%;
      height: 100%;
    }
  }
}
