.t-and-cs-container {

  div.header,
  div.firstHeader,
  div.footer,
  div.firstFooter { 
    display: none;
  }

  .LDCopyright {
    font-size:67%;
  }

  .mtb-16px {
    margin: 16px 0;
  }

  .mb-16px {
    margin-bottom: 16px;
  }
}

