$s-size: 8px;
$sm-size: 16px;
$m-size: 24px;
$ml-size: 32px;
$l-size: 40px;
$xl-size: 48px;
$xxl-size: 56px;

$s-length: 12.5px;
$m-length: 25px;
$l-length: 50px;
$xl-length: 75px;
$xxl-length: 100px;